.ab {
	border-end-end-radius: 1;
}

li.nav-item>a.active>div.line-round {
	border: 2px solid #fff;
	border-radius: 24px !important;
	visibility: hidden;
}

li.nav-item>div.line-round:active {
	border-bottom: 5px solid #fff !important;
	border-radius: 24px !important;
}
