.akun-second {
	margin-left: 15px !important;
}

/* .akun-active:active{
  color: #1ab394 !important;
} */
/* .akunlist>li>a {
	color: #000 !important;
} */

.smtlist>li,
.smtlist>li>a {
	color: #000 !important;
}

/* .smtlist>li:first-child {
	border-bottom: 0px !important;

}

.smtlist>li:last-child {
	border-top: 0px !important;
	border-bottom-right-radius: 40px;
} */

/* .akunlist > li > a:active,
.akunlist > li > a:focus,
.akunlist > li > a:target,
.akunlist > li > a:visited{
  color: #1ab394 !important;
} */
/* .active>li>a:active,
.active>li>a:focus,
.active>li>a:target {
	color: #1ab394 !important;
	background-color: none !important;
} */

ul#navigation .active {
	color: #0e9aef !important;
}

ul#navsmt .active>a {
	color: white !important;
	background-color: #0e9aef !important;
}
