/*
 *
 *   SKIN OASYS - INSPINIA - Responsive Admin Theme
 *   NAME - Blue light
 *
*/
/* body{
    background-color: #144a86 !important;
} */

.skin-oasys .minimalize-styl-2 {
    margin: 14px 5px 5px 30px;
  }
  .skin-oasys .navbar-top-links li:last-child {
    margin-right: 30px;
  }
  .skin-oasys.fixed-nav .minimalize-styl-2 {
    margin: 14px 5px 5px 15px;
  }
  .skin-oasys .spin-icon {
    background: #e4ecf3 !important;
  }
  .skin-oasys .nav-header {
    background-color: #ffffff;
    background-image: url('patterns/header-bg.png');
    background-size: 320px;
  }
  .skin-oasys.mini-navbar .nav-second-level {
    background: #282d31;
  }
  .skin-oasys .breadcrumb {
    background: transparent;
  }
  .skin-oasys .page-heading {
    border: none;
  }
  .skin-oasys .nav > li.active {
    background: #EEEEEE;
  }
  .skin-oasys .nav > li > a {
    color: #9ea6b9;
  }
  .skin-oasys ul.nav-second-level {
    background-color: inherit;
  }
  .skin-oasys .nav > li.active > a {
    color: #144A86;
  }
  .skin-oasys .navbar-minimalize {
    background: #232323;
    border-color: #232323;
  }
  body.skin-oasys {
    background: #ffffff;
  }
  .skin-oasys .navbar-static-top {
    background: #ffffff;
  }
  .skin-oasys .dashboard-header {
    background: transparent;
    border-bottom: none !important;
    border-top: none;
    padding: 20px 30px 10px 30px;
  }
  .fixed-nav.skin-oasys .navbar-fixed-top {
    background: #fff;
  }
  .skin-oasys .wrapper-content {
    padding: 30px 15px;
  }
  .skin-oasys #page-wrapper {
    background: #f4f6fa;
  }
  .skin-oasys .ibox-title,
  .skin-oasys .ibox-content {
    border-width: 1px;
  }
  .skin-oasys .ibox-content:last-child {
    border-style: solid solid solid solid;
  }
  .skin-oasys .nav > li.active {
    border: none;
  }
  .skin-oasys .nav-header {
    padding: 35px 25px 25px 25px;
  }
  .skin-oasys .nav-header a.dropdown-toggle {
    color: #FFF;
    margin-top: 10px;
  }
  .skin-oasys .nav-header a.dropdown-toggle .text-muted {
    color: #FFF;
    opacity: 0.8;
  }
  .skin-oasys .profile-element {
    text-align: center;
  }
  .skin-oasys .img-circle {
    border-radius: 5px;
  }
  .skin-oasys .navbar-default .nav > li > a:hover,
  .skin-oasys .navbar-default .nav > li > a:focus {
    background: #EEEEEE;
    color: #144A86;
  }
  .skin-oasys .nav.nav-tabs > li.active > a {
    color: #555;
  }
  .skin-oasys .nav.nav-tabs > li.active {
    background: transparent;
  }

  body.mini-navbar .nav-header{
    background-color: #144A86;
    background-image: none;
  }