.graph-image{display: none;
    width:40%;
    height:auto;
    }
    .graph-image2{display: none;
    width:40%;
    height:auto;
    }

    @media print{
    .graph-image{display:block;
    position:absolute;
    opacity: 0.5;
    z-index: -1;
    top:20%;
    right:100px;
    }
    .graph-image2{display:block;
    position:absolute;
    opacity: 0.5;
    z-index: -1;
    top:20%;
    /* right:10px; */
    }
    @page {size: landscape !important}
    }