.btn-whatever,
.btn-whatever:active,
.btn-whatever:visited,
.btn-whatever:focus {
	background-color: #FFF !important;
	border-color: #8064A2 !important;
	color: black !important;
}

.btn-whatever:hover {
	background-color: #8064A2 !important;
	color: white !important;
}


.form-whatever:focus {
	border-color: #8064A2 !important;
}

.nav-whatever,
.nav-whatever:hover,
.nav-whatever:active {
	color: #8064A2 !important;
}

.full-tabs {
	width: 50% !important;
	text-align: center !important;
}

.btn-email {
	text-decoration: none;
	color: #FFF;
	background-color: #8064A2;
	border: solid #8064A2;
	border-width: 5px 10px;
	line-height: 2;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	border-radius: 5px;
	text-transform: capitalize;
}

.btn-email:hover {
	text-decoration: none;
	color: #FFF;
	background-color: rgb(107, 84, 134) !important;
	border: solid rgb(107, 84, 134);
	border-width: 5px 10px;
	line-height: 2;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	border-radius: 5px;
	text-transform: capitalize;
}
