/* 3. HEADER*/
.main-header
{
  display: flex;
  margin-bottom: 20px;
}
.main-header-left
{
  /*item size 136 . multiple with 2 = 272*/
  flex-basis: 302px;
  flex-shrink: 0;
  margin-left: 25px;
  position: relative;
  text-align: center;
}
.main-header-right
{
  flex-grow: 1;
  overflow: hidden;
}
.header-menu
{
  display: flex;
  padding-left: 0;
  flex-wrap: wrap;
  margin: -8px;
}

ul.header-menu.menu-fixed.showed.absoluted
{
    position: absolute;
    top: calc(100% - 495px);
}
.header-menu.menu-fixed.showed
{
  visibility: visible;
  /* color: white; */
}
.header-menu-item.active .header-menu-link
{
  background: rgba(255,255,255,0.15);
  border: none;
}
.header-menu-item
{
  list-style: none;
}
.header-menu-link:hover,
.header-menu-link.active:hover .header-menu-link
{
  background: #1ab394;
}
.header-menu-link:hover .header-menu-label
{
  color: #ffffff;
}
.header-menu-link
{
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 30px rgba(0,0,0,0.05);
  border: solid 1px rgba(255,255,255,0.3);
  border-radius: 0px;
  color: #1ab394 !important;
  background-color: white;
  width: 135px;
  height: 135px;
  margin: 10px;
  padding: 15px;
  flex-wrap: wrap;
  justify-content: center;
}
.header-menu-icon
{
  height: 50px;
  width: 100%;
}
