
.radio {
    margin-top: 0px;
    margin-bottom: 0px; }

.radio label {
    padding-left: 0;
    width: 100%; }

.radio input[type="radio"] {
    display: none !important;
    margin-left: 0px; }

.radio .box-jalur {
    min-height: 215px;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    box-shadow: 0px 3px 1px #E0E0E0;
    background: white;
    padding: 14px 14px 14px;
    margin-top: 1em; }

.radio .box-jalur .jalur-header {
    margin: 0; }

.radio .box-jalur .jalur-header small {
    font-size: 10px; }

.radio .box-jalur .jalur-sub-header {
    color: #BDBDBD; }

.radio .box-jalur .label-jalur {
    padding: 0.6em 0.8em;
    font-size: 10px;
    border-radius: 0px;
    font-family: "Work Sans", "Helvetica", "Arial", sans-serif; }

.radio .box-jalur .jalur-attr {
    font-size: 10px;
    color: #BDBDBD;
    margin-top: 8px; }

.radio .box-jalur .jalur-value {
    font-size: 12px;
    color: #828282;
    margin-bottom: 8px; }

.radio .box-jalur:hover {
    border: 1px solid #1AB394; }

.radio input[type="radio"]:checked + .box-jalur {
    border: 3px solid #1AB394; }
